.material{
    background: #FFFBF7;
}

.material .container{
    max-width: 1210px;
    padding: 0 20px;
    width: 100%;
    margin-bottom: 140px;
    padding-bottom: 140px;
}

.material__title{
    max-width: 370px;
    width: 100%;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    padding-top: 145px;
    margin: 0;
    margin-bottom: 58px;
}

.material__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    justify-content: center;
    margin-bottom: 60px;
}

.material__item{
    position: relative;
    max-width: 570px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 8px;
    padding-left: 46px;
    padding-top: 42px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);

    &:nth-child(1){
        margin-bottom: 32px;
        margin-right: 30px;
    }

    &:nth-child(2){
        margin-bottom: 32px;
    }

    &:nth-child(3){
        margin-right: 30px;
    }

    &:nth-child(1):after{
        content: "";
        position: absolute;
        top: -45px;
        right: 0;
        width: 225px;
        height: 161px;
        display:inline-block;
        background-image: url("..//img/index_img/png/Создание.png");
        background-position: top 0 right 20px;
        background-repeat: no-repeat;
        background-size: 225px 161px;
    }

     
    &:nth-child(2):after{
        content: "";
        position: absolute;
        top: -70px;
        right: 0;
        width: 204px;
        height: 205px;
        display:inline-block;
        background-image: url("..//img/index_img/png/zamer.png");
        background-position: top 0 right 20px;
        background-repeat: no-repeat;
        background-size: 204px 205px;
    }

     
    &:nth-child(3):after{
        content: "";
        position: absolute;
        top: -20px;
        right: 0;
        width: 268px;
        height: 130px;
        display:inline-block;
        background-image: url("..//img/index_img/png/Произ.png");
        background-position: top 0 right 20px;
        background-repeat: no-repeat;
        background-size: 268px 130px;
    }

     
    &:nth-child(4):after{
        content: "";
        position: absolute;
        top: -45px;
        right: 10px;
        width: 225px;
        height: 161px;
        display:inline-block;
        background-image: url("..//img/index_img/png/Монтаж.png");
        background-position: top 0 right 20px;
        background-repeat: no-repeat;
        background-size: 225px 161px;
    }
}

.material__heading{
    max-width: 254px;
    width: 100%;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    position: relative;

    &__second{
        max-width: 370px;
        width: 100%;
    }
}

.material__text{
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

.material__count{
    position: absolute;
    bottom: 40px;
    right: 20px;
    font-weight: 800;
    font-size: 140px;
    line-height: 30px;
    text-align: right;
    color: #CB8734;
    opacity: 0.1;
}

.material__img{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding-right: 0;
    margin-bottom: 40px;
}

.material__links{
    max-width: 900px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.material__links--st{
    margin: 0;
    margin-right: 44px;
}

.material__links--nd{
    margin: 0;
    margin: auto 0;
}


@media only screen and (max-width:1170px){
    .material__item{
        max-width: 500px;
    }
}


@media only screen and (max-width:1140px){

    .material__item{
        max-width: 420px;
        padding: 0;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
        padding-top: 95px;
        &:nth-child(1){
            margin-bottom: 60px;
        } 
        &:nth-child(2){
            margin-bottom: 60px;
        }
       

        &:nth-child(1)::after{
            display: none;
        }

        &:nth-child(1)::before{
            content: "";
            position:absolute;
            top: -45px;
            right: calc(50%);
            transform: translate(50%);
            width:173px;
            height:124px;
            display: inline-block;
            background-image: url("..//img/index_img/png/Создание.png");
            background-repeat: no-repeat;
            background-size: 173px 124px;
            background-position: top 0 center;
        }

        &:nth-child(2)::after{
            display: none;
        }

        &:nth-child(2)::before{
            content: "";
            position:absolute;
            top: -45px;
            right: calc(50%);
            transform: translate(50%);
            width: 149px;
            height: 130px;
            padding-top: 0;
            display: inline-block;
            background-image: url("..//img/index_img/png/zamer.png");
            background-repeat: no-repeat;
            background-size: 149px 130px;
            background-position: top 0 center;
        }

        &:nth-child(3)::after{
            display: none;
        }

        &:nth-child(3)::before{
            content: "";
            position:absolute;
            top: -35px;
            right: calc(50%);
            transform: translate(50%);
            width: 237px;
            height: 115px;
            display: inline-block;
            margin: 0 auto;
            background-image: url("..//img/index_img/png/Произ.png");
            background-repeat: no-repeat;
            background-size: 237px 115px;
            background-position: top 0 center;
        }

        &:nth-child(4)::after{
            display: none;
        }

        &:nth-child(4)::before{
            content: "";
            position:absolute;
            top: -45px;
            right: calc(50%);
            transform: translate(50%);
            width: 158px;
            height: 130px;
            display: inline-block;
            margin: 0 auto;
            background-image: url("..//img/index_img/png/Монтаж.png");
            background-repeat: no-repeat;
            background-size: 158px 130px;
            background-position: top 0 center;
        }
    }

    .material__heading{
        max-width: 400px;
        width: 100%;
        text-align: center;
        width: 100%;
    }

    .material__count{
        text-align: center;
        left: 0;
    }

    .material__text{
        text-align: left;
    }

    .material__img{
        border: top right radius 24px;
        border-bottom-left-radius: 24px;
        max-width: 100%;
        height: auto;
        padding-right: 10px;
        padding-left: 10px;
    }


}

@media only screen and (max-width:1070px){
    .material .container{
        margin: 0 auto;
    }

    .material__title{
        text-align: center;
        margin:0 auto;
        margin-bottom: 60px;
        padding-top: 40px;

    }

    .material__item{
        margin: 0 auto;
    }
}

@media only screen and (max-width:910px){
    .material__item{
        max-width: 350px;
    }
}

@media only screen and (max-width:880px){
    .material__item{
        max-width:350px;
        padding-bottom: 0;
    }

    .material__heading{
        max-width: 350px;
        font-size: 29px;
        line-height: 30px;
    }
}

@media only screen and (max-width:770px){
    .material__item{
        max-width: 320px;
    }

    .material__heading{
        font-size:22px;
    }

    .material__title{
        padding-top: 20px;
        font-size: 28px;
    }
}

@media only screen and (max-width:710px){
    .material__item{
        max-width: 290px;
    }
}

@media only screen and (max-width:650px){
    .material__item{
        max-width: 270px;
        width: 100%;
    }

    .material__text{
        text-align: center;
    }

    .material__heading{
        max-width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width:610px){
    .material .container{
        padding-bottom:60px;
    }

    .material__list{
        flex-direction: column;
    }

    .material__item{
        max-width: 90%;
        margin: 0 auto;

        &:nth-child(1){
            margin: 0;
            margin: 0 auto;
            margin-bottom: 60px;
        }
        &:nth-child(2){
            margin: 0;
            margin: 0 auto;
            margin-bottom: 60px;
        }
        &:nth-child(3){
            margin: 0;
            margin: 0 auto;
            margin-bottom: 60px;
        }
        &:nth-child(4){
            margin: 0;
            margin: 0 auto;
        }
    }

    .material__links{
        flex-direction: column;  
        margin: 0 auto;
        justify-content: center;
    }

    .material__links--st{
        margin-right:0;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:425px){
    .material__title{
        font-size: 24px;
        line-height: 30px;
    }

    .material__heading{
        max-width: 100%;
        font-size: 24px;
        line-height: 30px;
    }
}

@media only screen and (max-width:345px){
    .material__heading{
        max-width: 100%;
    }

    .material__list{
        max-width: 300px;
    }

    .material__item{
        max-width: 900%;
    }

    .hero__links__link{
        font-size: 14px;
        line-height: 16px;
    }

    .material__img{
        max-width: 300px;
        height: 400px;
        padding: 0;
        border-top-right-radius: 24px;
        border-bottom-left-radius: 24px;
    }
}

@media only screen and (max-width:325px){
   .material .container{
       padding:0 10px;
   }
}